[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
djangorestframework = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
django-cors-headers = "*"
djoser = "*"

[dev-packages]
black = "*"
flake8 = "*"
pdbpp = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
